* {
  font: bold 14px Helvetica, Arial, sans-serif;
  background: #F1F1F1;
}


.container {
  width:800px;
  margin: 60px auto;
  text-align: center;
}

#slider {
  margin: 0 auto;
  list-style: none;
  position: relative;
  width: 600px;
  height: 420px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slider img {
  position: absolute;
  top: 20px;
  left: 40px;
  max-width:600px;
  max-height:400px;
}


#dots {
  list-style:none;
  padding:0px;
  margin-bottom: 8px;

}
#dots li {
  display:inline-block;
  border-radius:10px;
  width:10px;
  height:10px;
  margin: 0 5px;
  border:2px solid #2284A1;
  background: white;
  cursor:pointer;
}
#dots li.active {
  background:#2284A1;
}

